<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet">
    <link rel="stylesheet" href="/css/home.css">
    <title>Museum Madness | Home</title>
  </head>
  <body>
    <h1>Welcome To Museum Madness</h1>
    <p>a tool for managing your nyc museum memories!</p>
    <header>
      <nav>
        <a href="/signup">Sign Up</a> |
        <a href="/login">Log In</a>
      </nav>
    </header>
  </body>
</html>
