<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet">
    <link rel="stylesheet" href="/css/home.css">
    <title>Museum Madness | Sign Up</title>
  </head>
  <body>
    <h1>Sign Up</h1>
    <p>enter a username and password below</p>
    <form class="" action="/users" method="post">
        <input type="text" name="user[username]" value="" placeholder="Username">
        <input type="password" name="user[password]" value="" placeholder="Password">
        <input type="submit" value="Sign up">
    </form>
  </body>
</html>
