body {
  background-color: dimgrey;
  font-family: 'PT Sans Narrow', sans-serif;
}

.container {
  margin-left: 30%;
}

.visited-list {
  list-style-image: url(/images/q-train.png);
}

.museum-choices {
  list-style-image: url(/images/n-train.png);
}

.header {
  font-size: 40px;
}

.search {
  font-size: 18px;
}

.results {
  font-size: 18px;
  text-align: center;
  overflow-y: auto;
  height: 300px;
  width: 500px;
}

.museum-list {
  font-size: 18px;
  text-align: center;
  overflow-y: auto;
  width: 500px;
  height: 300px;
}
