body {
  background-color: dimgray;
  height: 1000px;
  width: 1000px;
  font-family: 'PT Sans Narrow', sans-serif;
}

.container,
nav {
  margin-left: 30%;
}

.header {
  font-size: 40px;
}

.search {
  font-size: 18px;

}

.results {
  font-size: 18px;
  text-align: center;
  overflow-y: auto;
  height: 300px;
  width: 500px;
}

.museum-list {
  font-size: 18px;
  text-align: center;
  overflow-y: auto;
  list-style: none;
  width: 500px;
  height: 300px;
}
